# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# https://www.typescriptlang.org/tsconfig#tsBuildInfoFile
tsconfig.tsbuildinfo

# next.js
/.next/
/out/

# production
/build
/dist/

.env
.eslintcache

*.db
*.db-journal
