@use 'src/styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --layoutGridRows: 10% 1fr 15%;
}

#__next {
  height: 100vh;
  width: 100vw;
}

html,
body {
  height: 100vh;
  width: 100%;
}

main {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.layout {
  display: grid;
  grid-template-rows: var(--layoutGridRows);
  height: 100vh;
  width: 100%;
}

.layoutContent {
  width: 100%;
}

.layoutCurrentGames {
  margin: 20px 50px;
}

.inProgress {
  padding: 2rem;
  margin: 4rem;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  max-height: 650px;
  min-width: 400px;
  text-align: center;
  font-size: clamp(0.75rem, -0.1875rem + 2.4vw, 1.5rem);

  h1 {
    font-size: clamp(1rem, -0.25rem + 3.5vw, 2rem);
    padding: 0;
  }

  h2 {
    color: variables.$color-primary;
    font-style: italic;
  }

  p {
    padding: 1em 0;
  }
}

a {
  text-decoration: none;
  color: variables.$color-primary;
  transition: 0.4s;
  &:hover {
    color: variables.$color-primary-variant;
  }
}

body {
  background-image: url('/img/bg.jpg');
  background-size: cover;
  color: white;
  font-family: 'Poppins', sans-serif;
}
