

@use 'src/styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  z-index: 999;

  a {
    font-size: 1.1rem;
    padding: 2px;
  }

  .menu {
    div {
      display: none;
    }

    &:hover {
      div {
        display: block;
        position: absolute;
        top: 30px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inProgress {
  border-radius: 30px;
  margin: 5em 10em;
  padding: 2em 4em;
  background-color: rgba(0, 0, 0, 0.7);
  h1 {
    font-size: 4rem;

    padding: 0;
  }
  h2 {
    font-size: 1.5rem;
    color: variables.$color-primary;
    font-style: italic;
  }
  p {
    font-size: 1.25rem;
    padding: 1em 0;
  }

}

a {
  text-decoration: none;
  color: variables.$color-primary;
  transition: 0.4s;
  &:hover {
    color: variables.$color-primary-variant

  }
}

body {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  color: white;
  font-family:'Poppins', sans-serif;
}
