.match {
  font-family: sans-serif;
  background-color: rgba(30, 30, 30, 0.1);
  color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 1500px) {
  .gap {
    flex-direction: column;
  }
}
