@use 'src/styles/variables';

// Header styling
header {
  display: flex;
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.5rem + 1.266vw, 2rem);

  a {
    display: flex;
    text-align: center;
    color: white;
    &:hover {
      color: variables.$color-primary-variant;
      cursor: pointer;
    }
  }

  .headerNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    gap: 10px;

    @media (max-width: 700px) {
      padding: 0px;
    }

    .headerLogo {
      display: flex;
      width: 6.25rem;
      width: clamp(6.25rem, 2.25rem + 20vw, 13.5rem);
      cursor: pointer;
    }
  }

  .headerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    gap: clamp(0.625rem, 0.12rem + 2.53vw, 3.125rem);
    width: 100%;
  }
}

// Footer styling
footer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 83.85%);

  .menuElementGridF {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    a {
      color: white;
      &:hover {
        color: variables.$color-primary-variant;
        cursor: pointer;
      }
    }
  }

  .horizontalLine {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    width: 80%;
  }

  .iconElements {
    display: grid;
    grid-template-columns: 64px 64px 64px;
    justify-content: center;
    padding-top: 10px;

    img {
      height: 100%;
      width: 50%;
      justify-content: end;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .copyrightElement {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
}
