:root {
  --layoutGridRows: 100px 1fr 160px;
  --doc-height: 100%;
}

#__next,
html,
body {
  height: 100vh;
  height: var(--doc-height);
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
}

.layout {
  grid-template-rows: var(--layoutGridRows);

  main {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  main::-webkit-scrollbar {
    display: none;
  }

  .isProgress {
    @media (max-width: 1200px) {
      max-width: 65vw;
    }

    @media (max-width: 500px) {
      max-width: 80vw;
    }

    @media (max-height: 750px) {
      max-width: 95vw;
      padding: 15px;
    }
  }

  .gameLobby {
    top: 100px;
  }

  header {
    height: 100px;

    .navHeader {
      height: 100px;
    }

    .loginLink {
      width: 216px;
    }

    .headerLogo,
    .loginLink {
      max-width: 6.25rem;
      max-width: clamp(6.25rem, 4.8rem + 7.25vw, 13.5rem);

      @media (max-width: 500px) {
        max-width: 216px;
      }
    }

    .burgerMenu {
      filter: invert(44%) sepia(69%) saturate(855%) hue-rotate(349deg)
        brightness(99%) contrast(88%);

      &:hover {
        filter: invert(80%) sepia(11%) saturate(560%) hue-rotate(72deg)
          brightness(80%) contrast(88%);
        transition: 0.4s;
      }
    }

    @media (max-height: 800px) {
      height: 60px;

      .navHeader {
        height: 60px;
      }

      .headerLogo {
        max-height: 50px;
      }
    }
  }

  footer {
    height: 160px;

    .footerLogo {
      height: 30px;
    }
  }
}
