@use "src/frontend/styles/mixins" as m;

$HeaderHeightBigScreen: 100px;
$FooterHeightBigScreen: 100px;
$HeaderHeightSmallScreen: 70px;
$FooterHeightSmallScreen: 120px;

#__next {
  position: absolute;
  min-height: 100%;
  width: 100%;
}
html {
  min-height: 100%;
}

body {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

header {
  height: $HeaderHeightSmallScreen;
}

footer {
  height: $FooterHeightSmallScreen;
}

.mainContainer {
  margin-top: $HeaderHeightSmallScreen;
  margin-bottom: $FooterHeightSmallScreen;
}

.mainHeight {
  min-height: calc(100vh - $HeaderHeightSmallScreen - $FooterHeightSmallScreen);
}

@screen smallscreen {
  header {
    height: $HeaderHeightBigScreen;
  }

  footer {
    height: $FooterHeightSmallScreen;
  }

  .mainContainer {
    margin-top: $HeaderHeightBigScreen;
    margin-bottom: $FooterHeightSmallScreen;
  }

  .mainHeight {
    min-height: calc(100vh - $HeaderHeightBigScreen - $FooterHeightSmallScreen);
  }
}
