@use "src/frontend/styles/variables";
@use "src/frontend/styles/mixins" as m;

#__next,
html,
body {
  height: 100vh;
  // height: var(--doc-height);
  height: 100dvh;
}

html,
body {
  padding: 0;
  margin: 0;
}

.layout {
  grid-template-rows: 70px 1fr;
}

header {
  height: 70px;

  .loginLink,
  .navGroup {
    display: none;
  }

  .burgerMenuIcon {
    div {
      background-color: theme("colors.primary");
      transition: 0.4s;
    }

    &:hover {
      div {
        background-color: theme("colors.primary-variant");
      }
    }
  }

  .matchLobbyToggle {
    @include m.clampSize(12, 20, 320, 1200);
    color: theme("colors.primary");
    transition: 0.4s;
    &:hover {
      color: theme("colors.primary-variant");
    }
  }

  .matchMenuLinks {
    position: static;
  }

  .burgerMenuLinks,
  .matchMenuLinks {
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    top: 60px;
  }

  .showBurgerMenuLinks,
  .showMatchMenuLinks {
    opacity: 1;
    visibility: visible;
  }

  .showMatchMenuLinks {
    height: 12rem;
  }

  .showBurgerMenuLinks {
    height: 30rem;
  }
}

.scrollable {
  // TODO: Thing for scrollbar needs to be fixed for wide screen, small height device edge cases
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
  }

  .currentGames {
    scroll-margin-top: 100px;
  }
}

@screen tablet {
  .scrollable {
    .inProgress {
      padding: 2rem;
    }
  }
}

@screen smallscreen {
  .layout {
    grid-template-rows: 100px 1fr;
  }

  header {
    height: 100px;

    .navGroup,
    .loginLink {
      display: flex;
    }

    .navGroup {
      gap: 1rem;
    }

    .loginLink {
      min-width: 80px;
    }

    .burgerMenuLinks,
    .burgerMenuIcon {
      display: none;
    }

    .matchMenuLinks {
      top: 100px;
    }

    .matchMenuLinks {
      position: fixed;
    }
  }

  .inProgress {
    padding: 2rem 3rem;
  }
}

@screen laptop {
  .scrollable {
    .inProgress {
      padding: 3rem;
    }
  }

  .showBurgerMenuLinks {
    height: 12rem;
  }

  header {
    .navGroup {
      gap: 2rem;
    }
  }
}

@screen medium {
  header {
    .burgerMenuLinks {
      top: 70px;
    }
  }
}
