@use "template/layout";
@use "pages/index";
@use "mixins" as m;

// This file is used as the base for tailwindCSS
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);

    background-image: url("/img/layout/wwbg.jpg");
  }

  h1 {
    @include m.clampSize(16, 46, 320, 1200);
    font-weight: 400;
    padding: 0.25em 0;
  }

  h2 {
    @include m.clampSize(12, 32, 320, 1200);
    color: theme("colors.primary");
    font-weight: 200;
  }

  h3 {
    @include m.clampSize(12, 24, 320, 1200);
    font-weight: 100;
  }

  p,
  select {
    @include m.clampSize(12, 18, 320, 1200);
    padding: 0.25rem 0;
    font-weight: 400;
  }

  .btn {
    @include m.clampSize(12, 16, 320, 1200);
    color: white;
    cursor: pointer;
    background-color: theme("colors.primary-dark");
    border-radius: 20px;
    padding: 0.5em;
    margin: 0.5em;
    transition: 0.4s;
    letter-spacing: 0.15em;
  }

  .btn:hover {
    color: black;
    background-color: theme("colors.secondary");
  }

  a {
    @include m.clampSize(12, 20, 320, 1200);
    text-decoration: none;
    color: theme("colors.primary");
    transition: 0.4s;
  }

  a:hover {
    color: theme("colors.secondary");
  }
}

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }
}

@keyframes gameCursor {
  0% {
    cursor: url("../../../public/img/cursor/frame_00.png"), auto;
  }
  9% {
    cursor: url("../../../public/img/cursor/frame_01.png"), auto;
  }
  18% {
    cursor: url("../../../public/img/cursor/frame_02.png"), auto;
  }
  27% {
    cursor: url("../../../public/img/cursor/frame_03.png"), auto;
  }
  36% {
    cursor: url("../../../public/img/cursor/frame_04.png"), auto;
  }
  45% {
    cursor: url("../../../public/img/cursor/frame_05.png"), auto;
  }
  54% {
    cursor: url("../../../public/img/cursor/frame_06.png"), auto;
  }
  63% {
    cursor: url("../../../public/img/cursor/frame_07.png"), auto;
  }
  72% {
    cursor: url("../../../public/img/cursor/frame_08.png"), auto;
  }
  81% {
    cursor: url("../../../public/img/cursor/frame_09.png"), auto;
  }
  90% {
    cursor: url("../../../public/img/cursor/frame_10.png"), auto;
  }
  100% {
    cursor: url("../../../public/img/cursor/frame_05.png"), auto;
  }
}
