@use "src/frontend/styles/template/layout";
@use "src/frontend/styles/grid/global";
@use "src/frontend/styles/pages";
@use "src/frontend/styles/mixins" as m;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("/img/bg.jpg");
    background-size: cover;
  }

  h1 {
    @include m.clampSize(16, 64, 320, 1200);
    padding: 0;
  }

  h2 {
    @include m.clampSize(12, 24, 320, 1200);
    color: theme("colors.primary");
    font-style: italic;
  }

  h3 {
    @include m.clampSize(12, 20, 320, 1200);
    font-style: italic;
  }

  p {
    @include m.clampSize(12, 20, 320, 1200);
    padding: 1rem 0;
  }

  a {
    @include m.clampSize(12, 20, 320, 1200);
    text-decoration: none;
    color: theme("colors.primary");
    transition: 0.4s;
  }

  a:hover {
    color: theme("colors.primary-variant");
  }
}
