.match {
  font-family: sans-serif;
  background-color: #555;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap {
  display: flex;
  gap: 0.5rem;
}

.segment {
  background-color: #222;
  color: white;
  border: 0.3rem solid #111;
  padding: 0.2rem;
}
